@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Mono";
    background-color: black;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex; /* Centering the easy way */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Must be on top of everything */
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.intro-message {
    opacity: 0; /* Hidden initially, GSAP will reveal it */
    letter-spacing: 0.1em;
}


.slider{
    position: fixed;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}


.slide{
    position: absolute;
    width: 45vw;
    height: 100svh;
    overflow: hidden;
}

.slide-title{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: "DM Mono", monospace;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1;
    padding: 0.2rem 0.4rem;
    pointer-events: none;
    z-index: 101;
    opacity: 0;
    white-space: pre-line;
    max-width: 400px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.thumbnail-wheel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    pointer-events: none;
    z-index: 1;
}

.thumbnail-item {
    position: absolute;
    width: 35px;
    height: 50px;
    overflow: hidden;
}

@media (max-width: 1000px){
    .slide{
        width: 75vw;
    }

    .thumbnail-item{
        width: 20px;
        height: 30px;
    }
}
    
